h2
{
    text-align: center;
}
table
{
    margin: auto;
}
.white{
    background-color: slategray;
    width: 75.5px;
    height: 59.5px;
    font-size: 45px;
    text-align: center;
}
.black{
    background-color: whitesmoke;
    width: 75.5px;
    height: 59.5px;
    font-size: 45px;
    text-align: center;
}
table{
    border: 10px solid black;
    border-spacing: 0px;
}